<!--
Copyright 2020 Kansas State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!--Used postimg.cc to get urls for images-->
<!-- Page that displays help for the website -->
@page "/instructions"
@inject IJSRuntime JS
@using GroceryLibrary
@using GroceryLibrary.Models

<h1>@pageContent[0].HeaderName</h1>

<!--Create TabControl to make tabs for page-->
<TabControl>
    <!--First Tab-->
    <TabPage Text="@pageContent[1].HeaderName">
        <!--Contants on page in first tab-->
        <h2>@pageContent[1].HeaderName</h2>
        <h4>@pageContent[1].Content</h4>
        <!--Video embedding code from Kapwing.com-->
        <div style="height: 0; padding-bottom: calc(56.25%); position:relative; width: 100%;"><iframe allow="autoplay; gyroscope;" allowfullscreen height="100%" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/6090bbf7a7f93e0036955af4" style="border:0; height:100%; left:0; overflow:hidden; position:absolute; top:0; width:100%" title="Embedded content made on Kapwing" width="100%"></iframe></div><p style="font-size: 12px; text-align: right;">Content made on <a href="https://www.kapwing.com/" target="_blank" rel="noopener noreferrer">Kapwing</a></p>

        <h4>@pageContent[2].HeaderName</h4>
        <div style="margin:20px 30px">
            <p>
                @pageContent[2].Content
            </p>
        </div>
        <h4>@pageContent[3].HeaderName</h4>
        <div style="margin:20px 30px">
            <p>
                @pageContent[3].Content

                <img src="https://i.postimg.cc/P58j1kSL/Map-And-Button.png" style="width: 700px;" />
                <br />
                @pageContent[4].Content <br />
                @pageContent[5].Content

                <div style="width: 100%;">
                    <img src="https://i.postimg.cc/7ZSRxPBN/Population-Key.png" style="width: 600px;" />
                    <!--<img src="https://i.postimg.cc/8zv2jmCM/WPAKey.png" style="width: 480px; float: right;" />--><!--THe image for weekly minimum key-->
                </div>
            </p>
        </div>

        <h4>@pageContent[6].HeaderName</h4>
        <div style="margin:20px 30px">
            <p>
                @pageContent[6].Content <br />
                @pageContent[7].Content <br />
                @pageContent[8].Content <br />
            </p>
            <p>@pageContent[9].HeaderName</p>
            <ul>
                <li>@pageContent[9].Content</li>
                <li>@pageContent[10].Content</li>
            </ul>
            <img src="https://i.postimg.cc/QN9gmnw4/Population-Map-NRad.png" style="width: 1000px;" />
        </div>

        <!--Instructions for changing variable-->
        <!--<h4>Changing Variable</h4>
        <div style="margin:20px 30px">
            <p>
                There are two variables, Population and Weekly Purchasing Amount, that can be selected in the “Variable” drop down box. <br />

                <img src="https://i.postimg.cc/jqp0K1xt/Variable.png" style="width: 480px;" />
            </p>
        </div>-->

        <h4>@pageContent[11].HeaderName</h4>
        <div style="margin:20px 30px">
            <p>
                @pageContent[11].Content
            </p>

            <ul>
                <li>@pageContent[12].Content</li>
                <li>@pageContent[13].Content</li>
                <li>@pageContent[14].Content</li>
            </ul>
            <img src="https://i.postimg.cc/Kv1YBPM2/Population-Summary-New.png" style="width: 400px;" />
            <p>
                @pageContent[15].Content
            </p>
            <img src="https://i.postimg.cc/XJNjJdbt/Population-Summary.png" style="width: 700px;" />
        </div>
    </TabPage>
    <!--Second tab-->
    <TabPage Text="@pageContent[16].HeaderName">
        <!--Contants of page for second tab-->
        <h2>@pageContent[16].HeaderName</h2>
        <h4>@pageContent[17].HeaderName</h4>
        <ol>
            <li>@pageContent[17].Content</li>
            <li>@pageContent[18].Content</li>
            <li>
                @pageContent[19].Content
            </li>
            <li>@pageContent[20].Content</li>
            <li>@pageContent[21].Content</li>
        </ol>

        <h4>@pageContent[22].HeaderName</h4>
        <ol>
            <li>@pageContent[22].Content</li>
            <li>@pageContent[23].Content</li>
            <li>
                @pageContent[24].Content
            </li>
            <li>
                @pageContent[25].Content
            </li>
            <li>@pageContent[26].Content</li>
        </ol>
    </TabPage>
    <!--Third tab-->
    <TabPage Text="@pageContent[27].HeaderName">
        <!--Contants of page for third tab-->
        <h2>@pageContent[27].HeaderName</h2>
        <p>
            @pageContent[27].Content
        </p>
        <ul>
            <li>
                @pageContent[28].Content
            </li>
        </ul>

    </TabPage>
</TabControl>

@code { List<Page> pageContent = SqlDataAccess.getPageContent("Instructions"); }

