<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>Stores List</h2>
        </div>
        <form style="overflow-x:auto" class="dialog-body">
            @foreach (Node s in Nodes)
            {
                <div class="dialog-node">
                    <span class="mr-0">
                        <h5>@s.State.Name</h5>
                        @s.State.Demand / @s.State.Supply palettes
                        <button class="Trash-Button" @onclick="@(() =>removeNodes(s))">
                            <img src="img/trash.png" />
                        </button>
                    </span>
                </div>
            }
        </form>
        <div class="dialog-buttons">
            <button @onclick="@Close" class="btn btn-secondary mr-auto">Close</button>
        </div>
    </div>

</div>

@code {
    void removeNodes(Node x)
    {
        Nodes.Remove(x);
    }

    [Parameter] public EventCallback Close { get; set; }
    [Parameter] public List<Node> Nodes { get; set; }
}
